@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

.casino-font {
  font-family: "Alfa Slab One", cursive;
}

.main {
  max-width: 1200px;
  border: 1px solid black;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.white-text {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.icons {
  padding: 20px;
  width: 350px;
  border: 1px solid black;
}

.chip {
  width: 70px;
  height: 70px;
  margin: 30px 10px;
  cursor: pointer;
}
